* {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    padding: 0;
    margin: 0;
    background: #ffffff;
}

#menu {
    display: none;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 101;
    margin-left: 100%;
}

#menu > ul {
    margin: 0;
    margin-left: 0;
    width: 300px;
    background-color: white;
    height: 100%;
    color: black;
}

#menu > ul a {
    color: black;
}

#menuMask {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    left: 0;
    top: 0;
}

#leftnav {
    position: fixed;
    left: 0;
    z-index: 99;
    margin: 0;
    padding: 0;
    list-style: 0;
}

#leftnav li {
    margin-left: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 40px;
}

#leftnav li a:before {
    content: " ";
    display: inline-block;
    background-color: #fff;
    height: 40px;
    width: 2px;
    margin-left: 1px;
    margin-right: 6px;
    float: left;
    box-shadow: 0 0 1px #000000;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#leftnav li.active a:before {
    width: 4px;
    margin-left: 0px;
    margin-right: 5px;
}

#leftnav li a span {
    opacity: 0;
    font-weight: bold;
    text-shadow: 0 0 3px #000000;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#leftnav li.active.showed a span,
#leftnav li a:hover span {
    opacity: 1;
}


#wrapper {
    overflow: hidden;
    overflow-y: auto;
}

.nav {
    overflow: hidden;
    width: 100%;
    margin: 0 auto 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    outline: none;
    display: block;
}

.topmenu {
    height: 50px;
    text-align: center;
    padding: 10px 0;
}

.top-left-menu {
    text-align: right;
    margin-top: -70px;
}

.topmenu b {
    color: white;
}

.nav .topmenu > a {
    font-family: "arial", sans-serif;
    padding: 15px;
    display: inline-block;
}

.topmenu > li {
    display: inline-block;
    position: relative;
}

.topmenu > li > a {
    padding: 12px 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0;
}

.topmenu li a:hover {
    color: aliceblue;
}

.logo {
    display: block;
    margin: -60px 0 0 20px;
    width: 110px;
}

img.logo {
    float: left;
}

.title {
    text-align: center;
}

.l1 {
    margin-top: 180px;
    font-size: 24px;
}

.l2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.page-container {
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 100%;
    height: 960px;
    overflow: hidden;
}

.info {
    display: block;
    background-color: ghostwhite;
    float: left;
    margin-top: -960px;
    width: 650px;
    height: 960px;
}

.info2 {
    display: block;
    background-color: ghostwhite;
    width: 100%;
    height: 220px;
    margin-top: -100px;
}

.b1 {
    background-image: url("/img/first.jpg");
}

.b2 {
    background-image: url("/img/second.jpg");
}

.b3 {
    background-image: url("/img/third.jpg");
    background-size: contain;
    background-position: center top;
}

.b5 {
    background-image: url("/img/five.jpg");
}

b6 {
    background-image: url("/img/six.jpg");
}

.b7 {
    background-image: url("/img/seven.jpg");
}

.b8 {
    background-image: url("/img/eight.jpg");
}

.b9 {
    background-image: url("/img/nine.jpg");
}

.b10 {
    background-image: url("/img/ten.jpg");
}